<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.jbpm.eclipse.new"
            name="jBPM"/>
      <wizard
            category="org.jbpm.eclipse.new"
            class="org.jbpm.eclipse.wizard.project.NewJBPMProjectWizard"
            id="org.jbpm.eclipse.new.project"
            name="jBPM project"
            icon="icons/jbpm.gif"
            project= "true">
         <description>Create a new jBPM project</description>
      </wizard>
      <!-- Use BPMN2 Modeler wizard instead
      <wizard
            id = "org.jbpm.eclipse.new.bpmn2process"
            name = "BPMN2 Process"
            class="org.jbpm.eclipse.wizard.process.NewBPMN2ProcessWizard"
            category="org.jbpm.eclipse.new"
            icon="icons/jbpm.gif">
         <description>A wizard that creates a new BPMN2 process.</description>
      </wizard>
      -->
   </extension>
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer class="org.jbpm.eclipse.util.JBPMClasspathContainerInitializer" id="JBPM" />
   </extension>
   <extension point = "org.eclipse.ui.preferencePages">
      <page id="org.jbpm.eclipse.preferences.JBPMPreferencePage"
            class="org.jbpm.eclipse.preferences.JBPMPreferencePage"
            name="jBPM">
      </page>
      <page name="Installed jBPM Runtimes"
            category="org.jbpm.eclipse.preferences.JBPMPreferencePage"
            class="org.jbpm.eclipse.preferences.JBPMRuntimesPreferencePage"
            id="org.jbpm.eclipse.preferences.JBPMRuntimesPreferencePage">
      </page>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page name="jBPM"
            class="org.jbpm.eclipse.preferences.JBPMProjectPreferencePage"
            id="org.jbpm.eclipse.preferences.JBPMProjectPreferencePage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>      
         </enabledWhen>
      </page>
   </extension>
   
   <extension point = "org.eclipse.ui.popupMenus">
      <objectContribution
           objectClass="org.eclipse.core.resources.IProject"
           id="org.jbpm.eclipse.action.ConvertToJBPMProject1">
        <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
	    <action id="org.jbpm.eclipse.action.ConvertToJBPMProjectAction1"
	       label="Convert to jBPM Project"
	       menubarPath="org.eclipse.ui.projectConfigure/additions"
	       class="org.jbpm.eclipse.action.ConvertToJBPMProjectAction"
	       icon="icons/jbpm.gif"
           enablesFor="1">
	    </action>
      </objectContribution>
      <objectContribution
           objectClass="org.eclipse.jdt.core.IJavaProject"
           id="org.jbpm.eclipse.action.ConvertToJBPMProject2">
	    <action id="org.jbpm.eclipse.action.ConvertToJBPMProjectAction2"
	       label="Convert to jBPM Project"
	       menubarPath="org.eclipse.ui.projectConfigure/additions"
	       class="org.jbpm.eclipse.action.ConvertToJBPMProjectAction"
	       icon="icons/jbpm.gif"
           enablesFor="1">
	    </action>
      </objectContribution>

      <objectContribution
           objectClass="org.eclipse.jdt.core.IJavaProject"
           id="org.jbpm.eclipse.action.ImportWorkItems">
        <action id="ImportWorkItemsAction"
           label="Import jBPM services ..."
           icon="icons/jbpm.gif"
           menubarPath="org.eclipse.ui.projectConfigure/additions"
           class="org.jbpm.eclipse.action.ImportWorkItemsAction"
           enablesFor="1">
        </action>
      </objectContribution>
      <objectContribution
           objectClass="org.eclipse.core.resources.IFile" nameFilter="*.bpmn"
           id="org.jbpm.eclipse.action.GenerateBPMN2JUnitTests">
        <action id="GenerateBPMN2JUnitTests"
           label="Generate jBPM JUnit Tests"
           icon="icons/jbpm.gif"
           menubarPath="additions"
           class="org.jbpm.eclipse.action.GenerateBPMN2JUnitTests"
           enablesFor="1">
        </action>
      </objectContribution>
      <objectContribution
           objectClass="org.eclipse.core.resources.IFile" nameFilter="*.bpmn"
           id="org.jbpm.eclipse.action.GenerateForms">
        <action id="GeneratejBPMForms"
           label="Generate jBPM Forms"
           icon="icons/jbpm.gif"
           menubarPath="additions"
           class="org.jbpm.eclipse.action.GenerateForms"
           enablesFor="1">
        </action>
      </objectContribution>
      <objectContribution
           objectClass="org.eclipse.core.resources.IFile" nameFilter="*.bpmn2"
           id="org.jbpm.eclipse.action.GenerateBPMN2JUnitTests">
        <action id="GenerateBPMN2JUnitTests"
           label="Generate jBPM JUnit Tests"
           icon="icons/jbpm.gif"
           menubarPath="additions"
           class="org.jbpm.eclipse.action.GenerateBPMN2JUnitTests"
           enablesFor="1">
        </action>
      </objectContribution>
      <objectContribution
           objectClass="org.eclipse.core.resources.IFile" nameFilter="*.bpmn2"
           id="org.jbpm.eclipse.action.GenerateForms">
        <action id="GeneratejBPMForms"
           label="Generate jBPM Forms"
           icon="icons/jbpm.gif"
           menubarPath="additions"
           class="org.jbpm.eclipse.action.GenerateForms"
           enablesFor="1">
        </action>
      </objectContribution>
   </extension>
   
   <extension-point id="runtimeRecognizer"
                    name="jBPM Runtime Recognizer"
                    schema="schema/runtimeRecognizer.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
         name="jBPM"
         icon="icons/jbpm.gif"
         class="org.jbpm.eclipse.JBPMPerspective"
         id="org.jbpm.eclipse.JBPMPerspective">
      </perspective>
   </extension>

   <extension point="org.kie.eclipse.runtimeInstaller">
         <installer
            id="jbpm.runtime_5.4.0_installer"
            product="jbpm"
            version="5.4.0"
            runtimeName="jBPM 5.4.0 Runtime"
            class="org.kie.eclipse.runtime.DefaultRuntimeInstaller">
            <repository
               url="http://downloads.jboss.org/drools/release/5.4.0.Final/droolsjbpm-integration-distribution-5.4.0.Final.zip"
               type="zip"
               source="*/binaries"
               artifacts="jbpm.runtime_5.x.artifacts"/>
         </installer>
         <installer
            id="jbpm.runtime_5.6.0_installer"
            product="jbpm"
            version="5.6.0"
            runtimeName="jBPM 5.6.0 Runtime"
            class="org.kie.eclipse.runtime.DefaultRuntimeInstaller">
            <repository
               url="http://downloads.jboss.org/drools/release/5.6.0.Final/droolsjbpm-integration-distribution-5.6.0.Final.zip"
               type="zip"
               source="*/binaries"
               artifacts="jbpm.runtime_5.x.artifacts"/>
         </installer>
         <installer
            id="jbpm.runtime_6.0.1_installer"
            product="jbpm"
            version="6.0.1"
            runtimeName="jBPM 6.0.1 Runtime"
            class="org.kie.eclipse.runtime.DefaultRuntimeInstaller">
            <repository
               url="http://downloads.jboss.org/drools/release/6.0.1.Final/droolsjbpm-integration-distribution-6.0.1.Final.zip"
               type="zip"
               source="*/binaries"
               artifacts="jbpm.runtime_6.x.artifacts"/>
         </installer>
         <installer
            id="jbpm.runtime_6.1.0_installer"
            product="jbpm"
            version="6.1.0"
            runtimeName="jBPM 6.1.0 Runtime"
            class="org.kie.eclipse.runtime.DefaultRuntimeInstaller">
            <repository
               url="http://downloads.jboss.org/drools/release/6.1.0.Final/droolsjbpm-integration-distribution-6.1.0.Final.zip"
               type="zip"
               source="*/binaries"
               artifacts="jbpm.runtime_6.x.artifacts"/>
         </installer>
         <installer
            id="jbpm.runtime_6.2.0_installer"
            product="jbpm"
            version="6.2.0"
            runtimeName="jBPM 6.2.0 Runtime"
            class="org.kie.eclipse.runtime.DefaultRuntimeInstaller">
            <repository
               url="http://repository.jboss.org/nexus/content/groups/public-jboss/org/jbpm/jbpm-distribution/6.2.0.Final/jbpm-distribution-6.2.0.Final-bin.zip"
               type="zip"
               source="*/lib"
               artifacts="jbpm.runtime_6.x.artifacts"/>
            <repository
               url="http://downloads.jboss.org/drools/release/6.1.0.Final/droolsjbpm-integration-distribution-6.2.0.Final.zip"
               type="zip"
               source="*/binaries"
               artifacts="jbpm.drools.runtime_6.x.artifacts"/>
         </installer>
         <artifacts id="jbpm.runtime_5.x.artifacts">
               <artifact name="antlr-runtime*.jar"/>
               <artifact name="drools-compiler*.jar"/>
               <artifact name="drools-core*.jar"/>
               <artifact name="jbpm-bpmn2*.jar"/>
               <artifact name="jbpm-flow-builder*.jar"/>
               <artifact name="jbpm-flow*.jar"/>
               <artifact name="jsr94*.jar"/>
               <artifact name="kie-api*.jar"/>
               <artifact name="kie-internal*.jar"/>
               <artifact name="mvel2*.jar"/>
               <!-- <artifact name="org.eclipse.jdt.core_3.10.2.v20150120-1634*.jar"/> -->
               <artifact name="slf4j-api*.jar"/>
               <artifact name="xmlpull*.jar"/>
               <artifact name="xpp3_min*.jar"/>
               <artifact name="xstream*.jar"/>
         </artifacts>
         <artifacts id="jbpm.runtime_6.x.artifacts">
               <artifact name="drools-compiler*.jar"/>
               <artifact name="drools-core*.jar"/>
               <artifact name="drools-decisiontables*.jar"/>
               <artifact name="drools-jsr94*.jar"/>
               <artifact name="drools-templates*.jar"/>
               <artifact name="jsr94*.jar"/>
               <artifact name="poi-ooxml*.jar"/>
               <artifact name="poi-*.jar"/>
               <artifact name="protobuf-java*.jar"/>
         </artifacts>
         <artifacts id="jbpm.runtime.drools_6.x.artifacts">
               <artifact name="kie-api*.jar"/>
               <artifact name="kie-internal*.jar"/>
               <artifact name="mvel2*.jar"/>
               <artifact name="slf4j-api*.jar"/>
               <artifact name="xmlpull*.jar"/>
               <artifact name="xpp3_min*.jar"/>
               <artifact name="xstream*.jar"/>
         </artifacts>
   </extension>
</plugin>
