#created on: $date$
$package$
//import any classes here
$expander$
//declare any globals here
$functions$


rule "Your First Rule"
	
	when
		#conditions
	then 
		#actions
		
end

rule "Your Second Rule"
	#include attributes such as "salience" here...
	when
		#conditions
	then 
		#actions
		
end