<?xml version="1.0" encoding="UTF-8"?> 
<definitions id="Definition"
             targetNamespace="http://www.jboss.org/drools"
             typeLanguage="http://www.java.com/javaTypes"
             expressionLanguage="http://www.mvel.org/2.0"
             xmlns="http://schema.omg.org/spec/BPMN/2.0"
             xmlns:xs="http://www.w3.org/2001/XMLSchema-instance"
             xs:schemaLocation="http://schema.omg.org/spec/BPMN/2.0 BPMN20.xsd"
             xmlns:g="http://www.jboss.org/drools/flow/gpd"
             xmlns:tns="http://www.jboss.org/drools">

  <resource id="Actor" name="Human Actor" />

  <process id="Sample" name="Sample Process" >

    <!-- process variables -->

    <!-- nodes -->
    <startEvent id="_1" name="StartProcess" g:x="16" g:y="16" g:width="48" g:height="48" />

    <!-- connections -->

  </process>

</definitions>