<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
         name="Drools"
         id="org.drools.eclipse.views">
      </category>
      <view
         name="Working Memory View"
         icon="icons/drools.gif"
         category="org.drools.eclipse.views"
         class="org.drools.eclipse.debug.WorkingMemoryView"
         id="org.drools.eclipse.debug.WorkingMemoryView">
      </view>
      <view
         name="Agenda View"
         icon="icons/drools.gif"
         category="org.drools.eclipse.views"
         class="org.drools.eclipse.debug.AgendaView"
         id="org.drools.eclipse.debug.AgendaView">
      </view>
      <view
         name="Global Data View"
         icon="icons/drools.gif"
         category="org.drools.eclipse.views"
         class="org.drools.eclipse.debug.ApplicationDataView"
         id="org.drools.eclipse.debug.ApplicationDataView">
      </view>
      <view
         name="Process Instances View"
         icon="icons/drools.gif"
         category="org.drools.eclipse.views"
         class="org.drools.eclipse.debug.ProcessInstancesView"
         id="org.drools.eclipse.debug.ProcessInstancesView">
      </view>
      <view
            name="Process Instance View"
            icon="icons/drools.gif"
            category="org.drools.eclipse.views"
            class="org.drools.eclipse.debug.ProcessInstanceViewer"
            id="org.drools.eclipse.debug.ProcessInstanceViewer">
      </view>
      <view
         name="Audit View"
         icon="icons/drools.gif"
         category="org.drools.eclipse.views"
         class="org.drools.eclipse.debug.AuditView"
         id="org.drools.eclipse.debug.AuditView">
      </view>
      <view
         name="Rules View"
         icon="icons/drools.gif"
         category="org.drools.eclipse.views"
         class="org.drools.eclipse.view.rules.RulesView"
         id="org.drools.eclipse.view.rules.RulesView">
      </view>
   </extension>

   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
        id="org.drools.eclipse.debug.AgendaLogicalStructures"
        class="org.drools.eclipse.debug.AgendaLogicalStructureDelegate"
        modelIdentifier="org.eclipse.jdt.debug"
        description="Agenda Item">
      </logicalStructureType>
      <logicalStructureType
        id="org.drools.eclipse.debug.ProcessInstanceLogicalStructures"
        class="org.drools.eclipse.debug.ProcessInstanceLogicalStructureDelegate"
        modelIdentifier="org.eclipse.jdt.debug"
        description="Process Instance">
      </logicalStructureType>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.drools.eclipse.editors.DRLRuleEditor2"
            contributorClass="org.drools.eclipse.editors.DRLRuleEditorActionContributor"
            extensions="drl,jbrule,drools,rule,package,pkg"
            icon="icons/drools.gif"
            id="org.drools.eclipse.editors.DRLRuleEditor"
            name="Rule Editor"/>
      <editor
            class="org.drools.eclipse.dsl.editor.DSLRuleEditor2"
            contributorClass="org.drools.eclipse.editors.DRLRuleEditorActionContributor"
            extensions="dslr,dslrule"
            icon="icons/drools.gif"
            id="org.drools.eclipse.editors.DSLRuleEditor"
            name="DSL Rule Editor"/>
      <editor
            class="org.drools.eclipse.dsl.editor.DSLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="dsl,lang"
            icon="icons/dsl.GIF"
            id="org.drools.eclipse.editor.DomainSpecLangEditor"
            name="DSL Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.drools.eclipse.new"
            class="org.drools.eclipse.wizard.rule.NewRulePackageWizard"
            descriptionImage="icons/drools-large.PNG"
            icon="icons/drools.gif"
            id="org.drools.eclipse.new.file"
            name="Rule Resource"/>
      <wizard
            category="org.drools.eclipse.new"
            class="org.drools.eclipse.wizard.dsl.NewDSLFileWizard"
            descriptionImage="icons/dsl-large.png"
            icon="icons/dsl.GIF"
            id="org.drools.eclipse.new.dsl"
            name="Domain Specific Language"/>
      <wizard
            id = "org.drools.eclipse.wizards.new.project"
            name = "Drools Project"
            class= "org.drools.eclipse.wizard.project.NewDroolsProjectWizard"
            category= "org.drools.eclipse.new"
            project= "true"
            icon= "icons/drools.gif">
         <description>This wizard creates a new Rule project.</description>
      </wizard>
      <category
            id="org.drools.eclipse.new"
            name="Drools"/>
      <wizard
            category="org.drools.eclipse.new"
            class="org.drools.eclipse.wizard.decisiontable.NewDTFileWizard"
            descriptionImage="icons/dt_large.gif"
            icon="icons/dt_small.gif"
            id="org.drools.eclipse.new.decisiontable"
            name="Decision Table"/>
   </extension>
   <extension
         id="org.drools.eclipse.actionSet"
         name="Drools"
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.drools.eclipse.workbenchMenu"
            label="Drools"
            visible="true">
         <action
               class="org.drools.eclipse.menu.RuleHelperActionDelegate"
               icon="icons/drools.gif"
               id="org.drools.eclipse.openRulesWorkbench"
               label="Drools wizards"
               style="pulldown"
               toolbarPath="Normal/additions"
               tooltip="Drools workbench"/>
      </actionSet>
   </extension>

   <extension
      id="droolsbuilder" name="Drools Builder" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.drools.eclipse.builder.DroolsBuilder"/>
      </builder>
   </extension>

   <extension
         id="problem"
         point="org.eclipse.core.resources.markers"
         name="Drools Error">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true" />
   </extension>

   <extension
         id="droolsBreakpointMarker"
         point="org.eclipse.core.resources.markers"
         name="Drools Breakpoint Marker">
	  <super type="org.eclipse.debug.core.breakpointMarker"/>
      <persistent value="true"/>
	</extension>

   <extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
         id="droolsBreakpoint"
         markerType="org.drools.eclipse.droolsBreakpointMarker"
         class="org.drools.eclipse.debug.core.DroolsLineBreakpoint">
      </breakpoint>
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer class="org.drools.eclipse.util.DroolsClasspathContainerInitializer" id="DROOLS" />
   </extension>

   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type super="org.eclipse.ui.workbench.texteditor.error" markerSeverity="2" markerType="org.eclipse.core.resources.problemmarker" name="org.drools.eclipse.editors.error_annotation"/>
   </extension>

   <extension point="org.eclipse.help.toc">
      <toc file="help/eclipse/toc.xml" primary="true" />
   </extension>

   <extension point = "org.eclipse.ui.preferencePages">
      <page id="org.drools.eclipse.preferences.DroolsPreferencePage"
         class="org.drools.eclipse.preferences.DroolsPreferencePage"
         name="Drools Preferences">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
         name="Drools"
         icon="icons/drools.gif"
         class="org.drools.eclipse.DroolsPerspective"
         id="org.drools.eclipse.DroolsPerspective">
      </perspective>
   </extension>

   <!-- Extensions for the interactive debugger -->

   <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
   	     id="org.drools.eclipse.launching.DroolsLaunchConfigurationDelegate"
         name="Drools Application"
         delegate="org.drools.eclipse.launching.DroolsLaunchConfigurationDelegate"
         sourceLocatorId="org.drools.eclipse.launching.DroolsSourceLookupDirector"
         sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
         modes="debug" />
      <launchConfigurationType
   	     id="org.drools.eclipse.launching.DroolsJUnitLaunchConfigurationDelegate"
         name="Drools JUnit Test"
         delegate="org.drools.eclipse.launching.DroolsJUnitLaunchConfigurationDelegate"
         sourceLocatorId="org.drools.eclipse.launching.DroolsSourceLookupDirector"
         sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
         modes="debug" />
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
         icon="icons/drools.gif"
         configTypeID="org.drools.eclipse.launching.DroolsLaunchConfigurationDelegate"
         id="org.drools.eclipse.launching.DroolsLaunchConfigurationDelegate.Image">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
         icon="icons/drools.gif"
         configTypeID="org.drools.eclipse.launching.DroolsJUnitLaunchConfigurationDelegate"
         id="org.drools.eclipse.launching.DroolsJUnitLaunchConfigurationDelegate.Image">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.drools.eclipse.launching.DroolsLaunchConfigurationDelegate"
            class="org.eclipse.jdt.internal.debug.ui.launcher.LocalJavaApplicationTabGroup"
            id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication">
            <launchMode
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug a Drools application">
            </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            type="org.drools.eclipse.launching.DroolsJUnitLaunchConfigurationDelegate"
            class="org.eclipse.jdt.internal.debug.ui.launcher.LocalJavaApplicationTabGroup"
            id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.localJavaApplication">
            <launchMode
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug a Drools JUnit Test">
            </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Drools Application"
            icon="icons/drools.gif"
            modes="debug"
            class="org.drools.eclipse.launching.DroolsApplicationLaunchShortcut"
            id="org.drools.eclipse.launching.DroolsApplicationLaunchShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                <or>
               	  <test property="org.eclipse.jdt.launching.hasMain"/>
               	  <and>
               	     <test property="org.eclipse.jdt.launching.isContainer"/>
               	     <test property="org.eclipse.jdt.launching.hasProjectNature" args="org.eclipse.jdt.core.javanature"/>
               	  </and>
               	</or>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
         <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspective id="org.drools.eclipse.DroolsPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
      </shortcut>
      <shortcut
            label="Drools JUnit Test"
            icon="icons/drools.gif"
            helpContextId="org.eclipse.jdt.junit.launch_shortcut"
            class="org.drools.eclipse.launching.DroolsJUnitApplicationLaunchShortcut"
            modes="debug"
            id="org.drools.eclipse.launching.DroolsJUnitApplicationLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
               	  <iterate>
                     <adapt type="org.eclipse.jdt.core.IJavaElement">
		                <test property="org.eclipse.jdt.core.isInJavaProject"/>
		                <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
		                <test property="org.eclipse.jdt.junit.canLaunchAsJUnit" forcePluginActivation="true"/>
		             </adapt>
		          </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
         <perspective id="org.drools.eclipse.DroolsPerspective"/>
         <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
         <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
         name="Drools Source Lookup Director"
         class="org.drools.eclipse.launching.DroolsSourceLookupDirector"
         id="org.drools.eclipse.launching.DroolsSourceLookupDirector">
      </sourceLocator>
   </extension>

   <extension point="org.eclipse.ui.editors.markerUpdaters">
      <updater
         markerType="org.drools.eclipse.droolsBreakpointMarker"
         class="org.drools.eclipse.debug.core.DroolsLineBreakpointMarkerUpdater"
         id="org.drools.eclipse.debug.core.DroolsLineBreakpointMarkerUpdater" />
   </extension>

   <!-- not used anymore
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
         class="org.drools.eclipse.launching.DroolsSourcePathComputerDelegate"
         id="org.drools.eclipse.launching.DroolsSourcePathComputerDelegate">
      </sourcePathComputer>
   </extension> -->

   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
         class="org.drools.eclipse.debug.core.DroolsDebugModelPresentation"
         id="org.drools.eclipse.debug">
      </debugModelPresentation>
   </extension>

   <!-- not working if using multipage editor -->
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.drools.eclipse.editors.DRLRuleEditor"
            id="org.drools.eclipse.editors.DRLRuleEditor.RulerActions">
         <action
            label="Not Used"
            class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            style="push"
            actionID="RulerDoubleClick"
            id="org.drools.eclipse.editors.DRLRuleEditor.ToggleBreakpointRulerAction" />
      </editorContribution>
   </extension>

   <!-- not working if using multipage editor -->
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextRulerContext"
            id="org.drools.eclipse.editors.DRLRuleEditor.RulerPopupActions">
         <action
            label="Toggle Breakpoint"
            class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="additions"
            id="org.drools.eclipse.editors.DRLRuleEditor.rulerContextMenu.ToggleBreakpointRulerAction">
         </action>
      </viewerContribution>
   </extension>

   <extension point = "org.eclipse.ui.popupMenus">
	 <objectContribution
           objectClass="org.eclipse.core.resources.IProject"
           id="org.drools.eclipse.action.ConvertToDroolsProject1">
        <filter name="nature" value="org.eclipse.jdt.core.javanature"/>
	    <action id="org.drools.eclipse.action.ConvertToDroolsProjectAction1"
	       label="Convert to Drools Project"
	       icon="icons/drools.gif"
	       menubarPath="additions"
	       class="org.drools.eclipse.action.ConvertToDroolsProjectAction"
           definitionId="org.drools.eclipse.action.ConvertToDroolsProjectAction1"
	       enablesFor="1">
	    </action>
      </objectContribution>
      <objectContribution
           objectClass="org.eclipse.jdt.core.IJavaProject"
           id="org.drools.eclipse.action.ConvertToDroolsProject2">
	    <action id="org.drools.eclipse.action.ConvertToDroolsProjectAction2"
	       label="Convert to Drools Project"
	       icon="icons/drools.gif"
	       menubarPath="additions"
	       class="org.drools.eclipse.action.ConvertToDroolsProjectAction"
           definitionId="org.drools.eclipse.action.ConvertToDroolsProjectAction2"
	       enablesFor="1">
	    </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="RuleFlow Editor"
            extensions="rf, ruleflow, rflow"
            icon="icons/process.gif"
            contributorClass="org.drools.eclipse.flow.common.editor.GenericActionBarContributor"
            class="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor"
            id="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
      </editor>
   </extension>

   <extension
         point = "org.eclipse.ui.editorActions">
      <editorContribution
            id="org.drools.eclipse.flow.ruleflow.editor.action.CheckRuleFlowAction"
            targetID="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
	     <action
	        id="org.drools.eclipse.flow.ruleflow.editor.action.CheckRuleFlowAction"
            label="Check RuleFlow"
	        toolbarPath="Drools"
            icon="icons/check.gif"
            tooltip="Check the ruleflow model"
            class="org.drools.eclipse.flow.ruleflow.editor.action.CheckRuleFlowAction"
         />
      </editorContribution>
      <editorContribution
            id="org.drools.eclipse.flow.common.editor.action.VerticalAutoLayoutAction"
            targetID="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
	     <action
	        id="org.drools.eclipse.flow.common.editor.action.VerticalAutoLayoutAction"
            label="Auto Layout (Vertical)"
	        toolbarPath="Drools"
            icon="icons/processV.gif"
            tooltip="Auto layout the workflow (vertical)"
            class="org.drools.eclipse.flow.common.editor.action.VerticalAutoLayoutAction"
         />
      </editorContribution>
      <editorContribution
            id="org.drools.eclipse.flow.common.editor.action.HorizontalAutoLayoutAction"
            targetID="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
	     <action
	        id="org.drools.eclipse.flow.common.editor.action.HorizontalAutoLayoutAction"
            label="Auto Layout (Horizontal)"
	        toolbarPath="Drools"
            icon="icons/process.gif"
            tooltip="Auto layout the workflow (horizontal)"
            class="org.drools.eclipse.flow.common.editor.action.HorizontalAutoLayoutAction"
         />
      </editorContribution>
      <editorContribution
            id="org.drools.eclipse.flow.common.editor.action.ExportImageAction"
            targetID="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
	     <action
	        id="org.drools.eclipse.flow.common.editor.action.ExportImageAction"
            label="Export Image"
	        toolbarPath="Drools"
            icon="icons/export.gif"
            tooltip="Export image (PNG)"
            class="org.drools.eclipse.flow.common.editor.action.ExportImageAction"
         />
      </editorContribution>
   </extension>

   <extension
         point = "org.eclipse.ui.newWizards">
	  <category
	    id = "org.drools.eclipse.flow.new"
	    name="RuleFlow">
	  </category>
 	  <wizard
	      id = "org.drools.eclipse.flow.ruleflow.NewRuleFlowFileWizard"
      	  name = "RuleFlow File"
	      class="org.drools.eclipse.flow.ruleflow.NewRuleFlowFileWizard"
          category="org.drools.eclipse.new"
	      icon="icons/process.gif">
    	<description>A wizard that creates a new ruleflow file</description>
	    <selection class="org.eclipse.core.resources.IResource"/>
	  </wizard>
   </extension>

   <extension-point id="processExtension" name="Process Extension" schema="schema/processExtension.exsd"/>

   <extension
         point="org.drools.eclipse.processExtension">
      <processExtension
            className="org.drools.eclipse.flow.ruleflow.RuleFlowExtension">
      </processExtension>
   </extension>
   
   <!-- RuleBuilder Extensions -->
      <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.drools.eclipse.rulebuilder.editors.RuleEditor"
            extensions="brl"
            icon="icons/drools.gif"
            id="org.drools.eclipse.ide.rulebuilder.brl.editors.RuleEditor"
            name="Guided Rule Editor"/>
   </extension>


   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.drools.eclipse.new"
            class="org.drools.eclipse.rulebuilder.wizards.NewBrlFileWizard"
            descriptionImage="icons/drools-large.PNG"
            icon="icons/drools.gif"
            id="org.drools.eclipse.rulebuilder.wizards.NewGuidedRuleFileWizard"
            name="Guided Rule"/>
   </extension>
   
   <!-- tabbed properties
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor"
            labelProvider="org.drools.eclipse.flow.common.view.property.ProcessLabelProvider"
            typeMapper="org.drools.eclipse.flow.common.view.property.ProcessTypeMapper">
         <propertyCategory category="org.drools.eclipse.flow.general"/>
      </propertyContributor>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
         <propertyTab 
            category="org.drools.eclipse.flow.general"   
            id="org.drools.eclipse.flow.general"
            label="General"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
         <propertySection
               class="org.drools.eclipse.flow.ruleflow.view.property.ElementNameSection"
               id="org.drools.eclipse.flow.ruleflow.view.property.ElementNameSection"
               tab="org.drools.eclipse.flow.general">
            <input type="org.drools.eclipse.flow.common.editor.core.ElementWrapper"/>
         </propertySection>
         <propertySection
               class="org.drools.eclipse.flow.ruleflow.view.property.ProcessNameSection"
               id="org.drools.eclipse.flow.ruleflow.view.property.ProcessNameSection"
               tab="org.drools.eclipse.flow.general">
            <input type="org.drools.eclipse.flow.common.editor.core.ProcessWrapper"/>
         </propertySection>
      </propertySections>
   </extension> --> 
   
</plugin>
