<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="jBPM Task"
            id="org.jbpm.eclipse.task">
      </category>
      <view
            name="Human Task View"
            icon="icons/human_task.gif"
            category="org.jbpm.eclipse.task"
            class="org.jbpm.eclipse.task.views.TaskView"
            id="org.jbpm.eclipse.task.views.TaskView">
      </view>
   </extension>
   
   <extension point = "org.eclipse.ui.preferencePages">
      <page id="org.jbpm.eclipse.task.preferences.TaskPreferencePage"
         class="org.jbpm.eclipse.task.preferences.TaskPreferencePage"
         name="jBPM Task">
      </page>
   </extension>

</plugin>
