<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="OSWorkflow Editor"
            extensions="oswf"
            icon="icons/process.gif"
            class="org.drools.eclipse.osworkflow.editor.OSWorkflowModelEditor"
            id="org.drools.eclipse.osworkflow.editor.OSWorkflowModelEditor">
      </editor>
   </extension>
   
   <extension
      id="osworkflowbuilder" name="OSWorkflow Builder" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.drools.eclipse.osworkflow.OSWorkflowBuilder"/>
      </builder>
   </extension>   
   
   <extension
         point="org.drools.eclipse.processExtension">
      <processExtension
            className="org.drools.eclipse.osworkflow.OSWorkflowExtension">
      </processExtension>
   </extension>

   <extension
         point = "org.eclipse.ui.editorActions">
      <editorContribution
            id="org.drools.eclipse.flow.common.editor.action.VerticalAutoLayoutAction"
            targetID="org.drools.eclipse.osworkflow.editor.OSWorkflowModelEditor">
	     <action
	        id="org.drools.eclipse.flow.common.editor.action.VerticalAutoLayoutAction"
            label="Auto Layout (Vertical)"
	        toolbarPath="Drools"
            icon="icons/processV.gif"
            tooltip="Auto layout the workflow (vertical)"
            class="org.drools.eclipse.flow.common.editor.action.VerticalAutoLayoutAction"
         />
      </editorContribution>
      <editorContribution
            id="org.drools.eclipse.flow.common.editor.action.HorizontalAutoLayoutAction"
            targetID="org.drools.eclipse.osworkflow.editor.OSWorkflowModelEditor">
	     <action
	        id="org.drools.eclipse.flow.common.editor.action.HorizontalAutoLayoutAction"
            label="Auto Layout (Horizontal)"
	        toolbarPath="Drools"
            icon="icons/process.gif"
            tooltip="Auto layout the workflow (horizontal)"
            class="org.drools.eclipse.flow.common.editor.action.HorizontalAutoLayoutAction"
         />
      </editorContribution>
   </extension>
   
</plugin>
