/target
/local

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# These Eclipse files are not generated perfectly, so for now we commit them
!.classpath
!.project
