<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      <category name="Guvnor" id="org.guvnor.tools"/>
      <view name="Guvnor Repositories"
            icon="icons/guvnor_rep.gif"
            category="org.guvnor.tools"
            class="org.guvnor.tools.views.RepositoryView"
            id="org.guvnor.tools.views.RepositoryView"/>
      <view category="org.guvnor.tools"
            class="org.guvnor.tools.views.ResourceHistoryView"
            icon="icons/guvnor_rep.gif"
            id="org.guvnor.tools.views.ResourceHistoryView"
            name="Guvnor Resource History"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.guvnor.tools.views.RepositoryView"/>
      </perspectiveExtension>
   </extension>
  
  <extension point = "org.eclipse.ui.newWizards">
		<category id = "org.guvnor.tools.wizcat" name="Guvnor"/>
		<!--
	 	<wizard id = "org.guvnor.tools.wizards.CheckoutWizard"
	      	    name = "Checkout Projects from Guvnor"
		        class="org.guvnor.tools.wizards.CheckoutWizard"
		        category="org.guvnor.tools.wizcat"
		        project="true"
		        icon="icons/guvnor_rep.gif">
	    	   <description>Checkout Projects from Guvnor</description>
		</wizard>
		-->
		<wizard id = "org.guvnor.tools.wizards.NewRepLocationWizard"
	      	    name = "Guvnor repository location"
		        class="org.guvnor.tools.wizards.NewRepLocationWizard"
		        category="org.guvnor.tools.wizcat"
		        icon="icons/guvnor_rep.gif">
	    	   <description>New Guvnor repository location</description>
		</wizard>
	</extension>
	<!--
	<extension point = "org.eclipse.ui.importWizards">
	    <category id = "org.guvnor.tools.importwizcat" name="Guvnor"/>
	 	<wizard id = "org.guvnor.tools.CheckoutWizard"
	      	    name = "Checkout Projects from Guvnor"
	            category="org.guvnor.tools.importwizcat"
		        class="org.guvnor.tools.wizards.CheckoutWizard"
		        icon="icons/guvnor_rep.gif">
	    	   <description>Checkout Projects from Guvnor</description>
		</wizard>
	</extension>
	-->
	<extension point="org.eclipse.ui.perspectiveExtensions">
    	<perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
           <view id="org.guvnor.tools.views.RepositoriesView"
                 ratio="0.5"
                 relationship="right"
                 relative="org.eclipse.ui.views.TaskList"/>
       </perspectiveExtension>
       <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
          <view id="org.guvnor.tools.views.ResourceHistoryView"
                ratio="0.5"
                relationship="right"
                relative="org.eclipse.ui.views.TaskList"/>
       </perspectiveExtension>
  </extension>
 
  <extension point="org.eclipse.ui.perspectives">
      <perspective name="Guvnor Repository Exploring"
                   icon="icons/guvnor_rep.gif"
                   class="org.guvnor.tools.perspectives.GuvnorRepExplorerPerspective"
                   id="org.guvnor.tools.perspectives.GuvnorRepExplorerPerspective"/>
  </extension>
</plugin>
