<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Drools Task"
            id="org.drools.eclipse.task">
      </category>
      <view
            name="Task View"
            icon="icons/human_task.gif"
            category="org.drools.eclipse.task"
            class="org.drools.eclipse.task.views.TaskView"
            id="org.drools.eclipse.task.views.TaskView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.drools.eclipse.task.views.TaskView">
         </view>
      </perspectiveExtension>
   </extension>

   <extension point = "org.eclipse.ui.preferencePages">
      <page id="org.drools.eclipse.task.preferences.DroolsTaskPreferencePage"
         class="org.drools.eclipse.task.preferences.DroolsTaskPreferencePage"
         name="Drools Task Preferences">
      </page>
   </extension>

</plugin>
