<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.drools.eclipse.rulebuilder.editors.RuleEditor"
            extensions="brxml"
            icon="icons/drools.gif"
            id="org.drools.eclipse.ide.rulebuilder.brxml.editors.RuleEditor"
            name="RuleBuilder Editor"/>
   </extension>
   <extension
         name="RuleBuilder Editor"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.drools.eclipse.rulebuilder"
            name="JBoss Rules"
            />
      <wizard
            category="org.drools.eclipse.rulebuilder"
            class="org.drools.eclipse.rulebuilder.wizards.NewBrxmlFileWizard"
            icon="icons/drools.gif"
            id="org.drools.eclipse.rulebuilder.wizards.NewBrxmlFileWizard"
            name="Rule Builder Editor"/>
   </extension>


</plugin>
