<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.views">
      <category
         name="JBoss Rules"
         id="org.drools.ide.views">
      </category>
      <view
         name="Working Memory View"
         icon="icons/drools.gif"
         category="org.drools.ide.views"
         class="org.drools.ide.debug.WorkingMemoryView"
         id="org.drools.ide.debug.WorkingMemoryView">
      </view>
      <view
         name="Agenda View"
         icon="icons/drools.gif"
         category="org.drools.ide.views"
         class="org.drools.ide.debug.AgendaView"
         id="org.drools.ide.debug.AgendaView">
      </view>
      <view
         name="Global Data View"
         icon="icons/drools.gif"
         category="org.drools.ide.views"
         class="org.drools.ide.debug.ApplicationDataView"
         id="org.drools.ide.debug.ApplicationDataView">
      </view>
      <view
         name="Audit View"
         icon="icons/drools.gif"
         category="org.drools.ide.views"
         class="org.drools.ide.debug.AuditView"
         id="org.drools.ide.debug.AuditView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.logicalStructureTypes">
      <logicalStructureType
        id="org.drools.ide.debug.AgendaLogicalStructures"
        class="org.drools.ide.debug.AgendaLogicalStructureDelegate"
        modelIdentifier="org.eclipse.jdt.debug"
        description="Agenda Item">
      </logicalStructureType>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.drools.ide.editors.DRLRuleEditor2"
            contributorClass="org.drools.ide.editors.DRLRuleEditorActionContributor"
            extensions="drl,jbrule,drools,rule"
            icon="icons/drools.gif"
            id="org.eclipse.ui.editors.text.DRLEditor"
            name="Rule Editor"/>
      <editor
            class="org.drools.ide.dsl.editor.DSLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="false"
            extensions="dsl,lang"
            icon="icons/dsl.GIF"
            id="org.drools.ide.editor.DomainSpecLangEditor"
            name="DSL Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.drools.ide.new"
            class="org.drools.ide.wizard.rule.NewRulePackageWizard"
            descriptionImage="icons/drools-large.PNG"
            icon="icons/drools.gif"
            id="org.drools.ide.new.file"
            name="New Rule Resource"/>
      <wizard
            category="org.drools.ide.new"
            class="org.drools.ide.wizard.dsl.NewDSLFileWizard"
            descriptionImage="icons/dsl-large.png"
            icon="icons/dsl.GIF"
            id="org.drools.ide.new.dsl"
            name="New Domain Specific Language"/>
      <wizard
            id = "org.drools.ide.wizards.new.project"
            name = "New Rule Project"
            class= "org.drools.ide.wizard.project.NewDroolsProjectWizard"
            category= "org.drools.ide.new"
            project= "true"
            icon= "icons/drools.gif">
         <description>This wizard creates a new Rule project.</description>
      </wizard>
      <category
            id="org.drools.ide.new"
            name="JBoss Rules"/>
      <wizard
            category="org.drools.ide.new"
            class="org.drools.ide.wizard.decisiontable.NewDTFileWizard"
            descriptionImage="icons/dt_large.gif"
            icon="icons/dt_small.gif"
            id="org.drools.ide.new.decisiontable"
            name="New Decision Table"/>
   </extension>
   <extension
         id="org.drools.ide.actionSet"
         name="JBoss Rules"
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.drools.ide.workbenchMenu"
            label="JBoss Rules"
            visible="true">
         <action
               class="org.drools.ide.menu.RuleHelperActionDelegate"
               icon="icons/drools.gif"
               id="org.drools.ide.openRulesWorkbench"
               label="JBoss Rules wizards"
               style="pulldown"
               toolbarPath="Normal/additions"
               tooltip="JBoss Rules workbench"/>
      </actionSet>
   </extension>
   
   <extension
      id="droolsbuilder" name="Drools Builder" point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.drools.ide.builder.DroolsBuilder"/>
      </builder>
   </extension>

   <extension
         id="problem"
         point="org.eclipse.core.resources.markers"
         name="JBoss Rules Error">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true" />
   </extension>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
       <classpathContainerInitializer class="org.drools.ide.util.DroolsClasspathContainerInitializer" id="DROOLS" /> 
   </extension>
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type super="org.eclipse.ui.workbench.texteditor.error" markerSeverity="2" markerType="org.eclipse.core.resources.problemmarker" name="org.drools.ide.editors.error_annotation"/>
   </extension>
   
   <extension point="org.eclipse.help.toc">
      <toc file="help/eclipse/toc.xml" primary="true" />
   </extension>
   
   <extension point="org.eclipse.help.toc">
       <toc file="help/debug/debug.toc" />
   </extension>
   
   <extension point = "org.eclipse.ui.preferencePages">
       <page id="org.drools.ide.preferences.DroolsPreferencePage"
	    	 class="org.drools.ide.preferences.DroolsPreferencePage"
             name="JBoss Rules Preferences">
       </page>
   </extension>
   
</plugin>
